body{
	background-image: url(http://gg.gg/pattern4);
	background-size: auto;
	margin:0;
	font-family: cursive;
	user-select:none;
	-moz-user-select:none;
 	-ms-user-select:none;
 	-khtml-user-select:none;
 	-webkit-user-select:none
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

header{
	width: 100%;
	text-align: center;
	color: white;
	box-shadow: 0 5px 10px black;
}
.back{
	width: 100%;
	background-image: url(http://gg.gg/gambarhead);
	background-size:cover;
	height: 300px;
	padding: 10px;
}
.back h1{
	margin-top: 40px;
	letter-spacing: 5px;
	font-size: 36pt;
}
.back h1,p{
	cursor: default;
}

.btn{
	width: 80px;
	display: inline-block;
	color: white;
	padding: 10px 20px;
	margin: 20px 20px;
	border-radius: 10px
}

.fb{
	background-color: rgba(0,0,255,0.6);
}
.fb:active{
	background-color: rgb(0,0,255);
}

.ig{
	background-color: rgba(153,0,153,0.6);
}
.ig:active{
	background-color: rgb(153,0,153);
}

.yt{
	background-color: rgba(255,0,0,0.6);
}
.yt:active{
	background-color: rgb(255,0,0);
}

.heading{
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.7);
	height: 65px;
	margin: 0;
	text-align: left;
	width: 100%
}

.h-left{
	float: left;
	line-height: 65px;
	padding: 0 40px;
	font-size: 25pt;
}
.h-left a{
	font-weight: 600;
	color: rgba(0,0,0,0);
	-webkit-text-stroke:0.5px orange;
}
.h-left a:hover{
	color: orange;
	-webkit-text-stroke:none;
	transition: all 0.4s;
}

.h-right{
	float: right;
	line-height: 65px;
	margin-right: 20px;
}
.h-right a{
	padding: 0 20px;
	display: block;
	float: left;
	color: orange;
	margin-left: 2px;
}
.h-right a:hover{
	background-color:rgba(245,171,53,0.7);
	color: black; 
}

/*-------------------------------------------------------------------------------------------------------------------*/

.container{
	margin: 0 auto;
	padding: 0 25px;
	width: 90%;
}

.main-menu{
	margin: 100px auto;
	height:300px;
}
.menu{
	width: 25%;
	float: left;
}
.menu-icon{
	margin: 50px;
	position: relative;
	color: white;
}
.menu-icon:hover{
	color: orange;
}
.menu-icon p{
	font-size: 16pt;
	width: 100%;
	position: absolute;
	top: 65px;
	text-align: center;
}

/*-------------------------------------------------------------------------------------------------------------------*/

footer{
	width: 100%;
	height: 120px;
	background-color: black;
	padding: 20px;
	box-shadow: 0 -5px 10px black;
}

.f a{
	color: orange;
}
.f a:hover{
	color:white;
}

.f-left{
	float: left;
	font-size: 25pt;
	line-height: 120px;
	padding: 0 40px;
}

.f-right{
	float: right;
	padding: 0 40px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

.back-sch{
	background-image: url(http://gg.gg/headersch);
	background-size:cover;
	height: 300px;
	padding: 10px;
	width: 100%;
}
.back-sch h1{
	margin-top: 40px;
	letter-spacing: 5px;
	font-size: 36pt;
}
.back-sch h1,p{
	cursor: default;
}

.content{
	width: 60%;
	margin:0px auto 100px auto;
}
.content-item{
	height: 600px;
	width: 100%;
	border-radius: 30px;
	background-color: #1e1f1e;
	color: white;
}
.content-item h2{
	margin: 30px auto;
	padding: 20px 20px 5px 20px;
	width: 90%;
	border-bottom: 1px solid white;
}
.content-item img{
	padding: 0 20%;
	min-width: 70%
	margin:auto;
}
.content-item p{
	width: 90%;
	margin: 0 auto;
	padding: 10px 20px 40px 20px;
	border-top: 1px solid white;
}
.content-item h1{
	font-size: 128pt;
	text-align: center;
}
